@import 'fonts.css';

*, *:after, *:before {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--x-color-black);
    color: var(--x-color-white);
    height: 100%;
    color-scheme: dark;
    overflow: hidden;
}
