:root {
    --x-color-white: #ffffff;
    --x-color-black: #000000;

    /* border radius */
    --x-border-radius-base: 4px;
    --x-border-radius-small: 2px;
    --x-border-radius-round: 9999px;
    --x-border-radius-circle: 100%;

    /* font weight */
    --x-font-weight-bold: 700;
    --x-font-weight-primary: 500;
    --x-font-weight-normal: 400;

    /* font size */
    --x-font-size-extra-large: 20px;
    --x-font-size-large: 18px;
    --x-font-size-medium: 16px;
    --x-font-size-base: 14px;
    --x-font-size-small: 13px;
    --x-font-size-extra-small: 12px;

    --x-user-avatar-default-size: 132px;
}

.blue {
    --color: 30, 155, 240;
    --color-hover: 20, 145, 230;
    --color-pressed: 10, 135, 220;

    --x-color-primary: rgb(var(--color));
    --x-color-primary-opacity-1: rgba(var(--color), .1);
    --x-color-primary-opacity-2: rgba(var(--color), .2);
    --x-color-primary-opacity-3: rgba(var(--color), .3);
    --x-color-primary-opacity-4: rgba(var(--color), .4);
    --x-color-primary-opacity-5: rgba(var(--color), .5);
    --x-color-primary-opacity-6: rgba(var(--color), .6);
    --x-color-primary-opacity-7: rgba(var(--color), .7);
    --x-color-primary-opacity-8: rgba(var(--color), .8);
    --x-color-primary-opacity-9: rgba(var(--color), .9);

    --x-color-primary-hover: rgb(var(--color-hover));

    --x-color-primary-pressed: rgb(var(--color-pressed));
}

.purple {
    --color: 120, 85, 255;
    --color-hover: 110, 75, 245;
    --color-pressed: 100, 65, 235;

    --x-color-primary: rgb(var(--color));
    --x-color-primary-opacity-1: rgba(var(--color), .1);
    --x-color-primary-opacity-2: rgba(var(--color), .2);
    --x-color-primary-opacity-3: rgba(var(--color), .3);
    --x-color-primary-opacity-4: rgba(var(--color), .4);
    --x-color-primary-opacity-5: rgba(var(--color), .5);
    --x-color-primary-opacity-6: rgba(var(--color), .6);
    --x-color-primary-opacity-7: rgba(var(--color), .7);
    --x-color-primary-opacity-8: rgba(var(--color), .8);
    --x-color-primary-opacity-9: rgba(var(--color), .9);

    --x-color-primary-hover: rgb(var(--color-hover));

    --x-color-primary-pressed: rgb(var(--color-pressed));
}

.dark {
    --x-color-primary-light-3: #3375b9;
    --x-color-primary-light-5: #2a598a;
    --x-color-primary-light-7: #213d5b;
    --x-color-primary-light-8: #1d3043;
    --x-color-primary-light-9: #18222c;
    --x-color-primary-dark-2: #66b1ff;
    --x-color-success: #67c23a;
    --x-color-success-light-3: #4e8e2f;
    --x-color-success-light-5: #3e6b27;
    --x-color-success-light-7: #2d481f;
    --x-color-success-light-8: #25371c;
    --x-color-success-light-9: #1c2518;
    --x-color-success-dark-2: #85ce61;
    --x-color-warning: #e6a23c;
    --x-color-warning-light-3: #a77730;
    --x-color-warning-light-5: #7d5b28;
    --x-color-warning-light-7: #533f20;
    --x-color-warning-light-8: #3e301c;
    --x-color-warning-light-9: #292218;
    --x-color-warning-dark-2: #ebb563;
    --x-color-danger: rgb(244, 33, 46);
    --x-color-danger-light-3: #b25252;
    --x-color-danger-light-5: #854040;
    --x-color-danger-light-7: #582e2e;
    --x-color-danger-light-8: #412626;
    --x-color-danger-light-9: #2b1d1d;
    --x-color-danger-dark-2: #f78989;
    --x-color-error: #f56c6c;
    --x-color-error-light-3: #b25252;
    --x-color-error-light-5: #854040;
    --x-color-error-light-7: #582e2e;
    --x-color-error-light-8: #412626;
    --x-color-error-light-9: #2b1d1d;
    --x-color-error-dark-2: #f78989;
    --x-color-info: #909399;
    --x-color-info-light-3: #6b6d71;
    --x-color-info-light-5: #525457;
    --x-color-info-light-7: #393a3c;
    --x-color-info-light-8: #2d2d2f;
    --x-color-info-light-9: #202121;
    --x-color-info-dark-2: #a6a9ad;
    --x-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72);
    --x-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .72);
    --x-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .72);
    --x-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
    --x-bg-color-page: #0a0a0a;
    --x-bg-color: #141414;
    --x-bg-color-overlay: #1d1e1f;
    --x-text-color-primary: #E5EAF3;
    --x-text-color-regular: #CFD3DC;
    --x-text-color-secondary: #A3A6AD;
    --x-text-color-placeholder: #8D9095;
    --x-text-color-disabled: #6C6E72;
    --x-button-disabled-text-color: rgba(255, 255, 255, .5);
    --x-border-color-darker: #636466;
    --x-border-color-dark: #58585B;
    --x-border-color: #4C4D4F;
    --x-border-color-light: #414243;
    --x-border-color-lighter: #363637;
    --x-border-color-extra-light: #2B2B2C;
    --x-fill-color-darker: #424243;
    --x-fill-color-dark: #39393A;
    --x-fill-color: #303030;
    --x-fill-color-light: rgba(239, 243, 244, .1);
    --x-fill-color-lighter: rgba(239, 243, 244, .2);
    --x-fill-color-extra-light: #191919;
    --x-fill-color-blank: transparent;
    --x-mask-color: rgba(0, 0, 0, .8);
    --x-mask-color-extra-light: rgba(0, 0, 0, .3);

    --x-border-width: 1px;
    --x-border-style: solid;
    --x-border: var(--x-border-width) var(--x-border-style) var(--x-border-color);
}
