.default {
    --x-button-font-weight: var(--x-font-weight-primary);
    --x-button-border-color: var(--x-border-color);
    --x-button-bg-color: var(--x-fill-color-blank);
    --x-button-text-color: var(--x-text-color-regular);
    --x-button-disabled-text-color: var(--x-button-disabled-text-color);
    --x-button-disabled-bg-color: var(--x-fill-color-blank);
    --x-button-disabled-border-color: var(--x-border-color-light);
    --x-button-divide-border-color: rgba(255, 255, 255, .5);
    --x-button-hover-text-color: var(--x-color-primary);
    --x-button-hover-bg-color: var(--x-color-primary-light-9);
    --x-button-hover-border-color: var(--x-color-primary-light-7);
    --x-button-active-text-color: var(--x-button-hover-text-color);
    --x-button-active-border-color: var(--x-color-primary);
    --x-button-active-bg-color: var(--x-button-hover-bg-color);
    --x-button-outline-color: var(--x-color-primary-light-5);
    --x-button-hover-link-text-color: var(--x-color-info);
    --x-button-active-color: var(--x-text-color-primary);
}

.primary {
    --x-button-text-color: var(--x-color-white);
    --x-button-bg-color: var(--x-color-primary);
    --x-button-border-color: var(--x-color-primary);
    --x-button-outline-color: var(--x-color-primary-light-5);
    --x-button-active-color: var(--x-color-primary-dark-2);
    --x-button-hover-text-color: var(--x-color-white);
    --x-button-hover-link-text-color: var(--x-color-primary-light-5);
    --x-button-hover-bg-color: var(--x-color-primary-light-3);
    --x-button-hover-border-color: var(--x-color-primary-light-3);
    --x-button-active-bg-color: var(--x-color-primary-dark-2);
    --x-button-active-border-color: var(--x-color-primary-dark-2);
    --x-button-disabled-text-color: var(--x-color-white);
    --x-button-disabled-bg-color: var(--x-color-primary-light-5);
    --x-button-disabled-border-color: var(--x-color-primary-light-5);
}

.info {
    --x-button-text-color: var(--x-color-black);
    --x-button-hover-text-color: var(--x-color-black);
    --x-button-active-text-color: var(--x-color-black);
    --x-button-disabled-text-color: var(--x-color-black);

    --x-button-bg-color: var(--x-color-white);
    --x-button-hover-bg-color: rgb(220, 220, 220);
    --x-button-active-bg-color: rgb(200, 200, 200);
    --x-button-disabled-bg-color: rgb(180, 180, 180);

    --x-button-border-color: var(--x-color-white);
    --x-button-hover-border-color: rgb(220, 220, 220);
    --x-button-active-border-color: rgb(200, 200, 200);
    --x-button-disabled-border-color: rgb(200, 200, 200);

    --x-button-outline-color: var(--x-color-info-light-5);
    --x-button-active-color: var(--x-color-black);
    --x-button-hover-link-text-color: var(--x-color-info-light-5);
}
